<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Whist - New Game Form</title>
    <link rel="stylesheet" th:href="@{/static/bootstrap/css/bootstrap.css}" />
</head>
<body>
<p th:text="'ID game: ' + ${game.getId()}" />
<p th:text="'Player`s nr: ' + ${game.getNumarJucatori()}" />
<p th:text="'Player`s ID: ' + ${game.getIdJucatori()}" />
<p th:text="'Card`s ID: ' + ${game.getIdCarti()}" />
<p th:text="'Round`s ID: ' + ${game.getIdDistribuiri()}" />

<br><br>
<h4>Play</h4>
<a th:href="@{'/game/play/' + ${game.getId()} + '/' + 0}" class="btn btn-primary btn-sm mb-3">Play</a>




</body>
</html>