<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Whist - New Game Form</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function sendVote() {
            var from = document.getElementById('from').value;
            var text = document.getElementById('text').value;
            stompClient.send("/game", {},
                JSON.stringify({'from':from, 'text':text}));
        }
    </script>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="/fragments/template :: navbar" />
<div class="container col-6">
    <div class="alert alert-secondary">
        <p th:text="'Runda curenta : ' + ${roundNumber} + ', Numar de maini : ' + ${curentRound.getNrMaini()} + ', Mana curenta : ' + ${curentRound.getCurentHand()}" />
    </div>
    <div>
            <p th:text="'Votate pana acum: ' + ${curentRound.getVotatePanaAcum()}" />
            <p th:text="'ATU is: ' + ${atu.toString()}" />
            <p th:text="'Cartile tale sunt: '"/>
            <span th:each="card : ${curentCardList}" th:text="${card.toString()}" />
    </div>
</div>
<br>
<div class="container col-6">
    <span>Cate maini crezi ca o sa castigi?</span>
    <form th:if="${curentRound.getMapVotate().get(player.get_id()) == null}" th:action="@{/round/votate}" th:method="POST" id="sendVote" onclick="sendVote();">
    <input th:type="hidden" th:name="roundNr" th:value="${roundNr}"/>
    <input th:type="hidden" th:name="gameId" th:value="${gameId}"/>
    <select th:name="nrVotate">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
    </select>
    <input th:if="${potSaVotez == true}" th:type="submit" th:value="submit" class="btn btn-primary">
        <div th:if="${potSaVotez == false}" class="alert alert-info">
            <strong>Info!</strong> Nu este randul tau! asteapta sa voteze cei dinaintea ta.
        </div>
</form>
</div>


<div th:if="${curentRound.getMapVotate().get(player.get_id()) != null}" class="container col-6 alert alert-info">
    <strong>Info!</strong>
    <p th:text="'Ai votat ' + ${curentRound.getMapVotate().get(player.get_id())}" />
</div>

<div class="container col-6 alert">
    Nu au votat toti jucatorii, trebuie sa mai voteze x, y, z!
</div>

<div th:if="${curentRound.getMapVotate().get(player.get_id()) != null}" class="container col-6 alert alert-danger">
    <div th:if="${sendedCards == null || player.getCartiCurente().size() + curentRound.getCurentHand() == curentRound.getNrMaini()}">
        <span>Ce carte dai ?</span>
        <form th:each="card : ${curentCardList}" th:action="@{/round/sendCard}" th:method="POST">
            <input th:type="hidden" th:name="roundNr" th:value="${roundNr}"/>
            <input th:type="hidden" th:name="gameId" th:value="${gameId}"/>
            <input th:type="hidden" th:name="cardId" th:value="${card.getId()}"/>
            <input th:type="submit" th:value="${card.toString()}" class="btn btn-primary">
        </form>
    </div>
    <div th:if="${sendedCards != null || player.getCartiCurente().size() + curentRound.getCurentHand() == curentRound.getNrMaini() - 1}">
        <p th:each="card : ${sendedCards}" th:text="'Ai dat ' + ${card.toString()}" />
    </div>
</div>

<br>
<div class="container col-6">
    <div>
        A castigat jucatorul x
    </div>
    <div>
        Nu au votat toti jucatorii, trebuie sa mai voteze x, y, z!
    </div>
    <br>
    <button type="button" class="btn btn-primary">Next</button>
</div>

<!--<a th:href="@{'/game/play/' + ${game.get_id()} + '/' + ${roundNr+1}}" class="btn btn-primary btn-sm mb-3">Play</a>-->
<div th:insert="/fragments/template :: footer" />
</body>
</html>