<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Whist - New Game Form</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.js"></script>
    <script type="text/javascript">
        var stompClient = null;

        function sendVote() {
            var from = document.getElementById('from').value;
            var text = document.getElementById('text').value;
            stompClient.send("/game", {},
                JSON.stringify({'from':from, 'text':text}));
        }
    </script>

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="/fragments/template :: navbar" />
<div class="container mt-5">
    <div class="row">

        <div class="col-8">

            <div class="alert alert-info">
                <h5 th:text="'Runda ' + ${curentGame.getCurentRound()}" />
                <p th:text="'Numar de maini : ' + ${curentRound.getNrMaini()} + ', Mana curenta : ' + ${curentRound.getCurentHand()}" />
                <div>
                    <p th:text="'Votate pana acum: ' + ${curentRound.getVotatePanaAcum()}" />
                    <p th:text="'ATU is: ' + ${atu.toString()}" />
                    <span th:text="'Cartile tale sunt: '" />
                    <span th:each="card : ${curentCardList}" th:text="${card.toString()} + ', '" />
                    <span th:each="card : ${restCarti}" th:text="${card.toString()} + ', '" />
                </div>
            </div>
            <br>

            <!--VOTUL-->
            <div class="alert alert-info">
                <h6>Etapa votului</h6>
                <form th:if="${curentRound.getMapVotate().get(player.get_id()) == null && potSaVotez == true}" th:action="@{/round/votate}" th:method="POST" id="sendVote" onclick="sendVote();">
                    <p>Cate maini crezi ca o sa castigi?</p>
                    <input th:type="hidden" th:name="gameId" th:value="${gameId}"/>

                    <!--        Jucatorul NU este LAST sau nu exista limita de vot-->
                    <select th:if="${player.isLast() == false || curentRound.getNrMaini() - curentRound.getVotatePanaAcum() < 0}" th:name="nrVotate">
                        <option th:each="nr : ${#numbers.sequence(0, curentRound.getNrMaini())}"  th:value="${nr}" th:text="${nr}" value="1">1</option>
                    </select>

                    <!--        DACA JUCATORUL ESTE LAST si nu are voie sa voteze X -->
                    <p th:if="${player.isLast() == true && curentRound.getNrMaini() - curentRound.getVotatePanaAcum() >= 0}"
                       th:text="'Nu ai voie sa votezi ' + ${curentRound.getNrMaini() - curentRound.getVotatePanaAcum()}" />
                    <select th:if="${player.isLast() == true
                        && curentRound.getNrMaini() - curentRound.getVotatePanaAcum() >= 0}"
                            th:name="nrVotate">
                        <option th:each="numar : ${roundService.catePoateVotaLast(curentRound, player)}"
                                th:value="${numar}"
                                th:text="${numar}" value="1">1</option>
                    </select>
                    <input th:type="submit" th:value="submit" class="btn btn-primary">
                </form>

                <!--DACA NU ESTE RANDUL TAU-->
                <div th:if="${!curentRound.getMapVotate().containsKey(player.get_id()) && potSaVotez == false}">
                    <strong>Info!</strong> Nu este randul tau! asteapta sa voteze cei dinaintea ta.
                    <p th:each="playerVot : ${jucatoriCareAuVotat}" th:text="${playerVot.getNume()} + ' a votat ' + ${curentRound.getMapVotate().get(playerVot.get_id())}" />
                </div>

                <!--    DUPA CE AI VOTAT-->
                <div th:if="${curentRound.getMapVotate().get(player.get_id()) != null &&
            curentRound.getMapVotate().size() != curentGame.getPlayersNumber()}" >
                    <strong>Info!</strong>
                    <p th:text="'Ai votat ' + ${curentRound.getMapVotate().get(player.get_id())} + '. Asteptam sa voteze toti jucatorii.'" />
                    <p th:each="playerVot : ${jucatoriCareAuVotat}" th:text="${playerVot.getNume()} + ' a votat ' + ${curentRound.getMapVotate().get(playerVot.get_id())}" />

                </div>
            </div>


            <!--SOLICITA CARTI-->
            <div th:if="${curentRound.getMapVotate().size() == curentGame.getPlayersNumber()}" class="alert alert-danger">
                <h6>Etapa cartilor</h6>
                <!--    Nu este randul tau-->
                <div th:if="${potSaDauCarte == false && sendedCards == null}">
                    <span th:text="'Inca nu este randul tau sa dai carte'" />
                </div>

                <!--    ACUM ESTE RANDUL TAU-->
                <div th:if="${potSaDauCarte}">
                    <p th:text="'Ai votat ' + ${curentRound.getMapVotate().get(player.get_id())}"/>
                    <p th:each="jucator : ${jucatoriCareAuDatCarte}"
                       th:if="${cardService.findById(curentHand.getCartiJucatori().get(jucator.get_id())) != null && !jucator.getNume().equals(player.getNume())}"
                       th:text="${jucator.getNume()} + ' a dat cartea ' + ${cardService.findById(curentHand.getCartiJucatori().get(jucator.get_id()))}" />
                    <p>Ce carte dai ?</p>
                    <form th:each="card : ${curentCardList}" th:action="@{/round/sendCard}" th:method="POST" class="d-inline">
                        <input th:type="hidden" th:name="gameId" th:value="${gameId}"/>
                        <input th:type="hidden" th:name="cardId" th:value="${card.getId()}"/>
                        <input th:type="submit" th:value="${card.toString()}" class="btn btn-primary">
                    </form>
                    <input th:each="card : ${restCarti}" th:type="submit" th:value="${card.toString()}" class="btn btn-outline-danger">
                </div>

                <!--    DUPA CE AI DAT-->
                <div th:if="${sendedCards != null}">
                    <span th:text="'Ai dat ' + ${sendedCards.toString()}" />
                </div>
            </div>
            <br>
        </div>

        <div class="col-4">
            <!--Rezumat mana anterioara-->
            <div th:if="${curentGame.getCurentRound() > 0}" class="alert alert-info">
                <h6>Rezumat mana anterioara</h6>
                <p th:text="'Mana anterioara a fost castigata de ' + ${playerService.findById(recentHand.getIdWinner())} + ' cu '
           + ${cardService.carteCastigatoare(recentHand)}"/>
                <p th:text="'Atu a fost ' + ${cardService.findById(recentHand.getAtu()).toString()}" />
                <p th:each="jucator : ${playerService.getAllPlayerFromGame(curentGame)}"
                   th:if="${cardService.findById(recentHand.getCartiJucatori().get(jucator.get_id())) != null}"
                   th:text="${jucator.getNume()} + ' a dat cartea ' + ${cardService.findById(recentHand.getCartiJucatori().get(jucator.get_id()))}" />
            </div>

            <!--Rezumat runda anterioara-->
            <div th:if="${curentGame.getCurentRound() > 0}" class="alert alert-info">
                <h6>Rezumat runda anterioara</h6>
                <p th:each="jucator : ${playerService.getAllPlayerFromGame(curentGame)}"
                   th:text="${jucator.getNume()} + ' a votat ' + ${recentRound.getMapVotate().get(jucator.get_id())} + ', a facut ' +
            ${recentRound.getMainiCastigate().get(jucator.get_id())} + '. Total puncte: ' + ${jucator.getPuncteCastigate()}" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="d-flex justify-content-center">
        <table class="table text-center table-hover">
            <thead>
            <tr>
                <th scope="col" rowspan="2" class="align-middle">Joc</th>
                <th scope="col" colspan="3" class="border-left" th:each="idJucator : ${curentGame.getPlayersList()}" th:text="${playerService.findById(idJucator).getNume()}">First</th>
            </tr>
            <tr>
                <th:block th:each="idJucator : ${curentGame.getPlayersList()}">
                    <td class="border-left">Vot</td>
                    <td>Win</td>
                    <td>Pct</td>
                </th:block>
            </tr>
            </thead>
            <tbody>
            <tr th:each="roundId : ${curentGame.getRoundsList()}">
                <th scope="row" th:if="${roundService.findById(roundId).getMapVotate().size() != 0}" th:text="${roundService.findById(roundId).getNrMaini()}">1</th>

                <th:block th:each="idJucator : ${curentGame.getPlayersList()}">
                    <td class="border-left" th:if="${roundService.findById(roundId).getMapVotate().size() != 0}" th:text="${roundService.findById(roundId).getMapVotate().get(idJucator)}">1</td>

                    <td th:if="${roundService.findById(roundId).getMainiCastigate().get(idJucator) != null}" th:text="${roundService.findById(roundId).getMainiCastigate().get(idJucator)}">2</td>
                    <td th:if="${roundService.findById(roundId).getMainiCastigate().get(idJucator) == null && roundService.findById(roundId).getMapVotate().size() != 0}" th:text="0">2</td>

                    <td th:if="${roundService.findById(roundId).getMapVotate().get(idJucator) != null &&
                    roundService.findById(roundId).getMainiCastigate().get(idJucator) != null}"
                        th:text="${roundService.punctajTabel(roundService.findById(roundId).getMapVotate().get(idJucator), roundService.findById(roundId).getMainiCastigate().get(idJucator))}">3</td>
                    <td th:if="${roundService.findById(roundId).getMapVotate().get(idJucator) != null &&
                    roundService.findById(roundId).getMainiCastigate().get(idJucator) == null}"
                        th:text="${roundService.punctajTabel(roundService.findById(roundId).getMapVotate().get(idJucator), 0)}">3</td>

                </th:block>
            </tr>
            </tbody>
        </table>
    </div>
    </div>
</div>
<div th:insert="/fragments/template :: footer" />
</body>
</html>