<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Whist - New Game Form</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
</head>
<body>
<h2>sda</h2>
<h2 th:text="'Game id : ' + ${game.get_id()}" />
<span th:text="'Players nr. : ' + ${game.getPlayersNumber()}" />
<br>
<h2>players:</h2>
<p th:each="player : ${Players}" th:text="${player.toString()} " />


<br><br>
<form th:action="0" th:method="GET">
    <input th:if="${game.getPlayersList().size() == game.getPlayersNumber()}" type="submit" value="Start" class="btn btn-primary btn-sm mb-3"/>
</form>

<!--<a th:href="@{'/game/play/' + ${game.get_id()} + '/0'}" class="btn btn-primary btn-sm mb-3">Play</a>-->

</body>
</html>