<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/fragments/template :: head">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="/fragments/template :: navbar" />
<div class="container col-6">
    <table class="table border-primary">
        <thead>
        <tr>
            <span>Active tables</span>
        </tr>
        <tr>
            <th scope="col">Game ID</th>
            <th scope="col">Players</th>
            <th scope="col">Open</th>
            <th scope="col">Join</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="game : ${gameList}">
            <td th:text="${game.get_id()}"></td>
            <td th:text="${game.getPlayersList().size()} + '/' + ${game.getPlayersNumber()}">Mark</td>
            <td th:if="${game.getPlayersList().size() != game.getPlayersNumber()}" th:text="'In waiting'">Started</td>
            <td th:unless="${game.getPlayersList().size() != game.getPlayersNumber()}" th:text="'started'">Started</td>
            <td>
                <form th:action="@{ 'game/' + ${game.get_id()} + '/join'}" th:method="POST">
                    <input sec:authorize="isAuthenticated()" type="submit" value="intra" class="btn btn-primary btn-sm mb-3"/>
                    <a th:href="@{/login}">
                    <input sec:authorize="!isAuthenticated()" type="button" value="Login" class="btn btn-primary btn-sm mb-3"/></a>
                </form>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div class="container col-6">
    <p>Create new game: </p>
    <form th:action="@{/game/newgame/3}" th:method="POST"  class=" d-inline">
        <input type="submit" value="3 players" class="btn btn-primary btn-sm mb-3">
    </form>
    <form th:action="@{/game/newgame/4}" th:method="POST" class=" d-inline">
        <input type="submit" value="4 players" class="btn btn-primary btn-sm mb-3">
    </form>
    <form th:action="@{/game/newgame/5}" th:method="POST" class=" d-inline">
        <input type="submit" value="5 players" class="btn btn-primary btn-sm mb-3">
    </form>
    <form th:action="@{/game/newgame/6}" th:method="POST" class=" d-inline">
        <input type="submit" value="6 players" class="btn btn-primary btn-sm mb-3">
    </form>
</div>
<div th:insert="/fragments/template :: footer" />
</body>
</html>